--langdef=powershell
--langmap=powershell:.ps1.psm1
--regex-powershell=/^\s*[Ff]unction[\t ]*([a-zA-Z0-9_-]+)/\1/f,function/
--regex-powershell=/^\s*[Cc]lass[\t ]* ([a-zA-Z0-9_-]+)/\1/c,class/
--regex-powershell=/^\s*[Cc]lass[\t ]* ([a-zA-Z0-9_-]+)[\t ]+:[\t ]+([a-zA-Z0-9_-]+)/\1 : \2/d,class inherited/
--regex-powershell=/^.*([Ff]unction){0} ([a-zA-Z]+-[a-zA-Z0-9_]+)/\1/h,functionCall/
--regex-powershell=/^\s*[Ff]ilter[\t ]*([a-zA-Z0-9_-]+)/\1/i,filter/
--regex-powershell=/^\s*[sS]et-[Aa]lias[\t ]*([a-zA-Z0-9_-]+)/\1/a,alias/
--regex-powershell=/^\s*#[rR]egion[\t ]*([a-zA-Z0-9_ -]+)\s*$/\1/r,region/

--langdef=xml
--langmap=xml:.xml
--regex-xml=/^\s*<([a-zA-Z0-9]+)>\s*$/\1/n,node set/
--regex-xml=/<([a-zA-Z0-9]+)[^\/]*>/\1/t,tagname/

--langdef=XSD
--langmap=XSD:+.xsd
--langmap=XSD:+.wsdl
--regex-XSD=/^\s*<xs:[cC]omplex[tT]ype [a-zA-Z0-9="]*[ ]{0,1}name="([a-z_]+:){0,1}([a-zA-Z0-9_]+)"\s*>/\2/c,ComplexType/
--regex-XSD=/^\s*<xs:[sS]imple[tT]ype [a-zA-Z0-9="]*[ ]{0,1}name="([a-z_]+:){0,1}([a-zA-Z0-9_]+)"\s*>/\2/s,SimpleType/
--exclude=.git
--recurse=yes

--langdef=vim
--langmap=vim:(_vimrc)(_vim.plug)
--regex-vim=/^\s*command!?\s+(\S+)\s/\1/c,command/
--regex-vim=/^\s*"\s*"?\s*(.*)\s*{{{(\d+)/\2 -- \1/g,group/
--recurse=yes

--langdef=
