<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="7zip.install" />
   <package id="adexplorer" />
   <package id="autohotkey" />
   <package id="autohotkey.install" />
   <package id="autohotkey.portable" />
   <package id="azure-functions-core-tools" />
   <package id="cascadiacode" />
   <package id="cascadiacodeitalic" />
   <package id="cascadiacodepl" />
   <package id="cascadiacodepl-italic" />
   <package id="cascadiafonts" />
   <package id="cascadiamono" />
   <package id="cascadiamonoitalic" />
   <package id="cascadiamonopl" />
   <package id="cascadiamonopl-italic" />
   <package id="checksum" />
   <package id="choco-cleaner" />
   <package id="chocolatey" />
   <package id="chocolatey-compatibility.extension" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-dotnetfx.extension" />
   <package id="chocolatey-font-helpers.extension" />
   <package id="chocolatey-visualstudio.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="chocolateygui" />
   <package id="cloc" />
   <package id="cmake" />
   <package id="cmake.install" />
   <package id="Cmder" />
   <package id="coretemp" />
   <package id="cpu-z" />
   <package id="cpu-z.install" />
   <package id="cyg-get" />
   <package id="Cygwin" />
   <package id="dngrep" />
   <package id="dos2unix" />
   <package id="dotcover-cli" />
   <package id="DotNet4.5.2" />
   <package id="dotnet4.7.1" />
   <package id="dotnetfx" />
   <package id="dotpeek.portable" />
   <package id="equalizerapo" />
   <package id="f.lux" />
   <package id="f.lux.install" />
   <package id="fiddler" />
   <package id="filezilla" />
   <package id="FiraCode" />
   <package id="Firefox" />
   <package id="font-hackgen" />
   <package id="font-hackgen-nerd" />
   <package id="gawk" />
   <package id="git" />
   <package id="git-credential-manager-for-windows" />
   <package id="git.install" />
   <package id="golang" />
   <package id="GoogleChrome" />
   <package id="googler" />
   <package id="greenshot" />
   <package id="grep" />
   <package id="html-tidy" />
   <package id="httpie" />
   <package id="hwmonitor" />
   <package id="hxd" />
   <package id="ilspy" />
   <package id="javaruntime" />
   <package id="jdk8" />
   <package id="jetbrainsmono" />
   <package id="jq" />
   <package id="jre8" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="KB3118401" />
   <package id="LinkShellExtension" />
   <package id="lua" />
   <package id="magicsplat-tcl-tk" />
   <package id="microsoft-teams" />
   <package id="miktex" />
   <package id="miktex.install" />
   <package id="mingw" />
   <package id="mRemoteNG" />
   <package id="msys2" />
   <package id="netfx-4.7.2" />
   <package id="nodejs" />
   <package id="nodejs.install" />
   <package id="notepadplusplus" />
   <package id="notepadplusplus.install" />
   <package id="NTop.Portable" />
   <package id="nvs" />
   <package id="openhardwaremonitor" />
   <package id="openssh" />
   <package id="openssl" />
   <package id="perfview" />
   <package id="postman" />
   <package id="powershell-core" />
   <package id="procexp" />
   <package id="procmon" />
   <package id="putty" />
   <package id="putty.portable" />
   <package id="python" />
   <package id="python2" />
   <package id="python3" />
   <package id="rainmeter" />
   <package id="ruby" />
   <package id="ruby.install" />
   <package id="sed" />
   <package id="slack" />
   <package id="SourceCodePro" />
   <package id="sourcetree" />
   <package id="sql-server-management-studio" />
   <package id="strawberryperl" />
   <package id="telnet" />
   <package id="tortoisegit" />
   <package id="treesizefree" />
   <package id="universal-ctags" />
   <package id="vcredist140" />
   <package id="vcredist2005" />
   <package id="vcredist2010" />
   <package id="vcredist2015" />
   <package id="vcredist2017" />
   <package id="vim" />
   <package id="visualstudio-installer" />
   <package id="visualstudio2017buildtools" />
   <package id="visualstudio2019-remotetools" />
   <package id="vlc" />
   <package id="vlc.install" />
   <package id="vscode" />
   <package id="vscode.install" />
   <package id="Wget" />
   <package id="windirstat" />
   <package id="WinPcap" />
   <package id="winscp" />
   <package id="winscp.install" />
   <package id="wireshark" />
   <package id="zoom" />
</packages>
