<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey" version="1.1.33.06" />
  <package id="autohotkey.install" version="1.1.33.06" />
  <package id="autohotkey.portable" version="1.1.33.06" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolatey.extension" version="2.1.1" />
  <package id="chocolateygui" version="0.18.1" />
  <package id="cloc" version="1.88" />
  <package id="coretemp" version="1.17.20210404" />
  <package id="cpu-z" version="1.95.0.20210213" />
  <package id="cpu-z.install" version="1.95.0.20210213" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="DotNet4.6.1" version="4.6.01055.20170308" />
  <package id="filezilla" version="3.53.1" />
  <package id="golang" version="1.16.3" />
  <package id="html-tidy" version="5.6.0" />
  <package id="javaruntime" version="8.0.231" />
  <package id="jdk8" version="8.0.211" />
  <package id="jre8" version="8.0.281" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="KB3118401" version="1.0.5" />
  <package id="LinkShellExtension" version="3.9.3.5" />
  <package id="nodejs" version="15.14.0" />
  <package id="nodejs.install" version="15.14.0" />
  <package id="postman" version="8.0.10" />
  <package id="powershell-core" version="7.1.3.20210315" />
  <package id="putty" version="0.74" />
  <package id="putty.portable" version="0.74" />
  <package id="pwsh" version="7.1.3.20210315" />
  <package id="python" version="3.9.4" />
  <package id="python2" version="2.7.18" />
  <package id="python3" version="3.9.4" />
  <package id="rainmeter" version="4.3.0.3321" />
  <package id="soapui" version="5.6.0" />
  <package id="sql-server-management-studio" version="15.0.18369.0" />
  <package id="universal-ctags" version="2021.04.10" />
  <package id="vcredist140" version="14.28.29913" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="vim-tux" version="8.2.2738" />
  <package id="vim-tux.install" version="8.2.2738" />
  <package id="xsltproc" version="1.1.28.0" />
</packages>
