<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="7zip.install" />
   <package id="adexplorer" />
   <package id="autohotkey.portable" />
   <package id="azure-functions-core-tools" />
   <package id="chocolatey" />
   <package id="chocolatey-compatibility.extension" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-dotnetfx.extension" />
   <package id="chocolatey-font-helpers.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="cloc" />
   <package id="coretemp" />
   <package id="cpu-z" />
   <package id="cpu-z.install" />
   <package id="cyg-get" />
   <package id="Cygwin" />
   <package id="dngrep" />
   <package id="DotNet4.6.1" />
   <package id="dotnet-6.0-desktopruntime" />
   <package id="dotnet-7.0-desktopruntime" />
   <package id="dotnet-desktopruntime" />
   <package id="dotPeek" />
   <package id="f.lux" />
   <package id="f.lux.install" />
   <package id="fastcopy" />
   <package id="fastcopy.portable" />
   <package id="fiddler" />
   <package id="filezilla" />
   <package id="Firefox" />
   <package id="gawk" />
   <package id="git" />
   <package id="git.install" />
   <package id="golang" />
   <package id="GoogleChrome" />
   <package id="greenshot" />
   <package id="grep" />
   <package id="html-tidy" />
   <package id="hwmonitor" />
   <package id="hxd" />
   <package id="ilspy" />
   <package id="javaruntime" />
   <package id="jdk8" />
   <package id="jetbrainsmono" />
   <package id="jq" />
   <package id="jre8" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="KB3063858" />
   <package id="KB3118401" />
   <package id="logitechgaming" />
   <package id="lua" />
   <package id="meld" />
   <package id="microsoft-teams" />
   <package id="miktex" />
   <package id="mingw" />
   <package id="mRemoteNG" />
   <package id="msys2" />
   <package id="netfx-4.7.2" />
   <package id="nodejs" />
   <package id="nodejs.install" />
   <package id="notepadplusplus" />
   <package id="notepadplusplus.install" />
   <package id="NTop.Portable" />
   <package id="NugetPackageExplorer" />
   <package id="nvs" />
   <package id="openhardwaremonitor" />
   <package id="openssh" />
   <package id="powershell-core" />
   <package id="procexp" />
   <package id="procmon" />
   <package id="putty" />
   <package id="putty.portable" />
   <package id="pwsh" />
   <package id="python" />
   <package id="python2" />
   <package id="python3" />
   <package id="python311" />
   <package id="rainmeter" />
   <package id="resharper-platform" />
   <package id="ruby" />
   <package id="ruby.install" />
   <package id="sed" />
   <package id="slack" />
   <package id="soapui" />
   <package id="telnet" />
   <package id="universal-ctags" />
   <package id="vcredist140" />
   <package id="vcredist2005" />
   <package id="vcredist2010" />
   <package id="vcredist2015" />
   <package id="vim" />
   <package id="vlc" />
   <package id="vlc.install" />
   <package id="Wget" />
   <package id="windirstat" />
   <package id="WinPcap" />
   <package id="winscp" />
   <package id="winscp.install" />
   <package id="wireshark" />
   <package id="zoom" />
</packages>
