<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Id="7-taskbar-tweaker" />
  <package Id="7zip" />
  <package Id="7zip.install" />
  <package Id="activetcl" />
  <package Id="adexplorer" />
  <package Id="aria2" />
  <package Id="autohotkey" />
  <package Id="autohotkey.portable" />
  <package Id="checksum" />
  <package Id="chocolatey" />
  <package Id="chocolatey-core.extension" />
  <package Id="chocolatey-dotnetfx.extension" />
  <package Id="chocolatey-visualstudio.extension" />
  <package Id="chocolatey-vscode.extension" />
  <package Id="chocolatey-windowsupdate.extension" />
  <package Id="chocolatey.extension" />
  <package Id="chocolatey.server" />
  <package Id="chocolateygui" />
  <package Id="cloc" />
  <package Id="Cmder" />
  <package Id="ConEmu" />
  <package Id="copyq" />
  <package Id="cpu-z" />
  <package Id="crystaldiskinfo" />
  <package Id="crystaldiskinfo.portable" />
  <package Id="diffutils" />
  <package Id="docker" />
  <package Id="docker-cli" />
  <package Id="docker-desktop" />
  <package Id="DotNet3.5" />
  <package Id="DotNet4.5.2" />
  <package Id="DotNet4.6" />
  <package Id="DotNet4.6.1" />
  <package Id="dotnet4.6.2" />
  <package Id="dotnet4.7.2" />
  <package Id="dotnetcore-runtime.install" />
  <package Id="dotnetcore-sdk" />
  <package Id="dotnetfx" />
  <package Id="dotPeek" />
  <package Id="Everything" />
  <package Id="fiddler" />
  <package Id="filezilla" />
  <package Id="fontforge" />
  <package Id="freecad" />
  <package Id="fselect" />
  <package Id="fsviewer" />
  <package Id="git" />
  <package Id="git.install" />
  <package Id="gogs" />
  <package Id="gpu-z" />
  <package Id="html-tidy" />
  <package Id="jre8" />
  <package Id="KB2533623" />
  <package Id="KB2670838" />
  <package Id="KB2919355" />
  <package Id="KB2919442" />
  <package Id="KB2999226" />
  <package Id="KB3033929" />
  <package Id="KB3035131" />
  <package Id="KB3118401" />
  <package Id="languagetool" />
  <package Id="lockhunter" />
  <package Id="logitechgaming" />
  <package Id="lua" />
  <package Id="lua53" />
  <package Id="MailViewer" />
  <package Id="master-pdf-editor" />
  <package Id="microsoft-teams" />
  <package Id="mingw" />
  <package Id="mm-choco.extension" />
  <package Id="mRemoteNG" />
  <package Id="msys2" />
  <package Id="multicommander" />
  <package Id="netfx-4.6.2" />
  <package Id="nodejs" />
  <package Id="nodejs.install" />
  <package Id="nuget.commandline" />
  <package Id="NugetPackageExplorer" />
  <package Id="openssh" />
  <package Id="Opera" />
  <package Id="paint.net" />
  <package Id="PDFCombine" />
  <package Id="PDFXchangeEditor" />
  <package Id="Pester" />
  <package Id="pip" />
  <package Id="poshgit" />
  <package Id="postman" />
  <package Id="powershell-core" />
  <package Id="powertoys" />
  <package Id="processhacker" />
  <package Id="processhacker.install" />
  <package Id="procexp" />
  <package Id="pwsh" />
  <package Id="python2" />
  <package Id="python3" />
  <package Id="racket" />
  <package Id="rainmeter" />
  <package Id="regscanner.install" />
  <package Id="resharper-platform" />
  <package Id="ruby" />
  <package Id="sharex" />
  <package Id="silentcmd" />
  <package Id="sql-server-management-studio" />
  <package Id="sqlitebrowser" />
  <package Id="sqlitebrowser.install" />
  <package Id="ssms" />
  <package Id="stickies" />
  <package Id="strawberryperl" />
  <package Id="sysinternals" />
  <package Id="vcredist140" />
  <package Id="vcredist2005" />
  <package Id="vcredist2008" />
  <package Id="vcredist2010" />
  <package Id="vcredist2013" />
  <package Id="vcredist2015" />
  <package Id="vim-tux" />
  <package Id="vim-tux.install" />
  <package Id="visualstudio-installer" />
  <package Id="vlc" />
  <package Id="Wget" />
  <package Id="wox" />
  <package Id="xsltproc" />
  <package Id="zadig" />
</packages>
